<h1>THIS NEW USER PAGE</h1>


<form action="<%= users_url %>" method="POST">

  <label for="username" > username</label>
  <input type="text" id="username" name="user[username]"> 

  <label for="password">password</label>
  <input type="password" id="password" name="user[password]">

  <input type="submit" value="create user"> 
  
</form>


